torch >= 2.7.0             # all
jupyterlab >= 4.4.0          # all
tiktoken >= 0.9.0          # ch02; ch04; ch05
matplotlib >= 3.10.0        # ch04; ch06; ch07
tensorflow >= 2.19.0       # ch05; ch06; ch07
tqdm >= 4.67.0             # ch05; ch07
numpy >= 1.23       # dependency of several other libraries like torch and pandas
pandas >= 2.3.0            # ch06
psutil >= 5.9.5            # ch07; already installed automatically as dependency of torch
